# Ignore everything by default
*

# Do not ignore directories, otherwise Git won't track files inside them
!*/

# Allow C# and JSON files
!*.cs
!*.csproj
!*.json
!*.txt
!*.md

# Optional: Keep Git tracking the .gitignore file itself
!.gitignore
*/obj/*
*/bin/*
**/obj/**
**/bin/**
*/.git/*
*/.idea/*
